.dials_container .dial:before,
.dials_container .dial:after,
.dials_container .dial,
.dials_container .dial *{
        transition:all 0.4s;
}
.dials_container .dial>*{
opacity:0;
}
.dials_container .dial:hover *{
opacity:1;
}
/******* title *******/
.dial_name{
    top:0;
    bottom:auto !important;
    text-align: center;
}
/******* batch *******/
.dials_container .dial:before{
    font-family: Impact, Charcoal, sans-serif;
    color:white;
    text-align: center;
    padding:3px;
	word-break:break-all;
    word-spacing:60px;
	position: absolute;
	font-size: 30px;
        left:0;
	bottom: 0;
    z-index: 1;
	width: 60px;
	height: 400px;
}
.dials_container .dial:hover:before{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	height: 20px;
	font-size: 10px;
	word-spacing: 0;
}
.dials_container .dial:hover:before,
.dials_container .dial:hover{
    width:400px!important;
}
.dials_container .dial:after{
	color: #222;
	//font-family: 'Times New Roman', Times, serif;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
        line-height:450px;
	position: absolute;
        top:0;
	width: 100%;
	opacity: 0;
	z-index: -1;
}
.dials_container .dial:hover:after{
	opacity: 0.8;
	line-height: 650px;
	font-size: 60px;
}

/***************************** for each design *****************************/
.dials_container>a:nth-of-type(1)>.dial:before{
    content: "A Y A N O";
}
.dials_container>a:nth-of-type(1)>.dial:after{
    content: "挂";
}
.dials_container>a:nth-of-type(1)>.dial:before,
.dials_container>a:nth-of-type(1) .dial_name{
    background-color:#f66!important;
}
.dials_container>a:nth-of-type(1)>.dial{
    border-color: #f66!important;
}

.dials_container>a:nth-of-type(2)>.dial:before{
    content: "K I D O";
}
.dials_container>a:nth-of-type(2)>.dial:after{
    content: "隠";
}
.dials_container>a:nth-of-type(2)>.dial:before,
.dials_container>a:nth-of-type(2) .dial_name{
    background-color:#9d02fe!important;
}
.dials_container>a:nth-of-type(2)>.dial{
    border-color: #9d02fe!important;
}

.dials_container>a:nth-of-type(3)>.dial:before{
    content: "S E T O";
}
.dials_container>a:nth-of-type(3)>.dial:after{
    content: "盗";
}
.dials_container>a:nth-of-type(3)>.dial:before,
.dials_container>a:nth-of-type(3) .dial_name{
    background-color:#02f60a!important;
}
.dials_container>a:nth-of-type(3)>.dial{
    border-color: #02f60a!important;
}

.dials_container>a:nth-of-type(4)>.dial:before{
    content: "K A N O";
}
.dials_container>a:nth-of-type(4)>.dial:after{
    content: "欺";
}
.dials_container>a:nth-of-type(4)>.dial:before,
.dials_container>a:nth-of-type(4) .dial_name{
    background-color:#999!important;
}
.dials_container>a:nth-of-type(4)>.dial{
    border-color: #999!important;
}

.dials_container>a:nth-of-type(5)>.dial:before{
    content: "M A R R Y";
}
.dials_container>a:nth-of-type(5)>.dial:after{
    content: "合";
}
.dials_container>a:nth-of-type(5)>.dial:before,
.dials_container>a:nth-of-type(5) .dial_name{
    background-color:#fb89c7!important;
}
.dials_container>a:nth-of-type(5)>.dial{
    border-color: #fb89c7!important;
}

.dials_container>a:nth-of-type(6)>.dial:before{
    content: "M O N O";
}
.dials_container>a:nth-of-type(6)>.dial:after{
    content: "夺";
}
.dials_container>a:nth-of-type(6)>.dial:before,
.dials_container>a:nth-of-type(6) .dial_name{
    background-color:#ff8a00!important;
}
.dials_container>a:nth-of-type(6)>.dial{
    border-color: #ff8a00!important;
}

.dials_container>a:nth-of-type(7)>.dial:before{
    content: "E N E";
}
.dials_container>a:nth-of-type(7)>.dial:after{
    content: "覚";
}
.dials_container>a:nth-of-type(7)>.dial:before,
.dials_container>a:nth-of-type(7) .dial_name{
    background-color:#0284fe!important;
}
.dials_container>a:nth-of-type(7)>.dial{
    border-color: #0284fe!important;
}

.dials_container>a:nth-of-type(8)>.dial:before{
    content: "S H I N T A R O";
}
.dials_container>a:nth-of-type(8)>.dial:after{
    content: "";
}
.dials_container>a:nth-of-type(8)>.dial:before,
.dials_container>a:nth-of-type(8) .dial_name{
    background-color:#ff0101!important;
}
.dials_container>a:nth-of-type(8)>.dial{
    border-color: #ff0101!important;
}

.dials_container>a:nth-of-type(9)>.dial:before{
    content: "H I B I Y A";
}
.dials_container>a:nth-of-type(9)>.dial:after{
    content: "凝";
}
.dials_container>a:nth-of-type(9)>.dial:before,
.dials_container>a:nth-of-type(9) .dial_name{
    background-color:#02e3ff!important;
}
.dials_container>a:nth-of-type(9)>.dial{
    border-color: #02e3ff!important;
}

.dials_container>a:nth-of-type(10)>.dial:before{
    content: "K O N O H A";
}
.dials_container>a:nth-of-type(10)>.dial:after{
    content: "醒";
}
.dials_container>a:nth-of-type(10)>.dial:before,
.dials_container>a:nth-of-type(10) .dial_name{
    background-color:#dfee00!important;
}
.dials_container>a:nth-of-type(10)>.dial{
    border-color: #dfee00!important;
}
/***************************end***********************************/

.dials_container>a[href^="unsafe:moz-extension://"]>div{
//height:50px!important;
}
/******* folder list *******/
.breadcrumb{
height:auto!important;
background:#000;
}
/******* top space *******/
.body_container{
padding-top:70px!important;
}
/******* for top animation space *******/
.dials_page.dials_page_padding{
padding-top:20px!important;
}
